@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.hero {
    width: 100%;
    height: 74vh;
    justify-content: space-between; /* Ensures hero-text is on the left and hero-image on the right */
    align-items: center;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevents shadow from bleeding out */
    background: linear-gradient(to bottom right, #ffffff, #eef2f2);
}


.hero-text {
    font-size: 140%;
    font-family: 'Averia Serif Libre', cursive;
    color: black;
    margin-left: 15%;
}

.hero-image {
    width: 60%;
}

.hero-image img {
    width: 112%;
    height: auto;
    float: right;
}

.content {
    padding: 20px;
    margin-left: 14%;
    margin-right: 14%;
    font-family: 'Alan Sans', sans-serif;
    line-height: 1.6;
    color: #333;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #222;
}